<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>San Pham</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for item in products%}
                <tr>
                    <td>
                        <img alt="{{ item.name }}" width="120" src="{{ url_for('static', filename=item.image)}}">
                    </td>
                    <td>{{item.id}}</td>
                    <td>
                        <a href="{{ url_for('product_detail', product_id=item.id) }}" >{{item.name}}</a>
                    </td>
                    <td>{{ "{:,.1f}".format(item.price) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>